<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="ReoLang Editor"
            extensions="cpla"
            icon="icons/coopla.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="pt.uminho.di.reolangeditor.editors.ReoLangEditor"
            id="pt.uminho.di.reolangeditor.editors.ReoLangEditor">
      </editor>
      <editor
            class="pt.uminho.di.reolangeditor.reconfigurations.editors.RecLangEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="rpla"
            icon="icons/recoopla.gif"
            id="pt.uminho.di.reolangeditor.reconfigurationseditors.RecLangEditor"
            name="ReCooPLa Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ReoLangEditor File"
            name="CooPLa Wizard"
            parentCategory="cwi.reo">
      </category>
      <wizard
            category="category.cooplaeditor"
            class="pt.uminho.di.reolangeditor.wizards.NewReoLangFileWizard"
            icon="icons/coopla.gif"
            id="pt.uminho.di.reolangeditor.wizards.NewReoLangFileWizard"
            name="CooPLa File">
      </wizard>
      <category
            id="RecLangEditor"
            name="ReCooPLa Wizard"
            parentCategory="cwi.reo">
      </category>
      <wizard
            category="category.cooplaeditor"
            class="pt.uminho.di.reolangeditor.wizards.NewRecLangFileWizard"
            icon="icons/recoopla.gif"
            id="pt.uminho.di.reolangeditor.wizards.NewRecLangFileWizard"

            name="ReCooPLa FIle">
      </wizard>
      <category
            id="category.cooplaeditor"
            name="CooPLa Editor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="pt.uminho.di.reolangeditor.annotations.error"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            name="pt.uminho.di.reolangeditor.annotations.warning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="category.cooplaeditor"
            name="CooPLa Editor">
      </category>
      <view
            category="category.cooplaeditor"
            class="pt.uminho.di.reolangeditor.views.ReoLangPatternView"
            icon="icons/pattern_view.gif"
            id="reolangeditor.views.ReoLangPatternView"
            name="Pattern View">
      </view>
      <category
            id="RecLangPatternsView"
            name="Reconfiguration Views">
      </category>
      <view
            category="RecLangPatternsView"
            class="pt.uminho.di.reolangeditor.reconfigurations.views.RecLangPatternsView"
            icon="icons/sample.gif"
            id="reolangeditor.reconfigurations.views.RecLangPatternsView"
            name="Patterns Created">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="reolangeditor.views.ReoLangPatternView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="pt.uminho.di.reolangeditor.reconfigurations.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="pt.uminho.di.reolangeditor.reconfigurations.editor.adapter.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="pt.uminho.di.reolangeditor.reconfigurations.views.RecLangPatternsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pt.uminho.di.reolangeditor.handlers.IMCREOToolWizardHandler"
            id="reolangeditor.commands.imcreoCommand"
            name="Generate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="reolang.menus.toolbar.IMCREOTool">
            <command
                  commandId="reolangeditor.commands.imcreoCommand"
                  disabledIcon="icons/imcreo_disabled.gif"
                  hoverIcon="icons/imcreo_hover.gif"
                  icon="icons/imcreo.gif"
                  label="IMCREOTool"
                  style="push"
                  tooltip="IMCREOTool">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pt.uminho.di.reolangeditor.preferences.ReoLangEditorPreferences"
            id="cooplaeditor.preferences.CooPLaEditorPreferences"
            name="CooPLa Editor">
      </page>
      <page
            category="cooplaeditor.preferences.CooPLaEditorPreferences"
            class="pt.uminho.di.reolangeditor.preferences.IMCREOToolPreferences"
            id="cooplaeditor.preferences.IMCREOToolPreferences"
            name="IMCReo Tool">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pt.uminho.di.reolangeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="pt.uminho.di.reolangeditor.reconfigurations.editors.options.RecLangRun"
            label="Run reconfigurations"
            visible="true">
         <menu
               id="recoopla_options"
               label="ReCooPLa options">
            <separator
                  name="recoopla_run">
            </separator>
         </menu>
         <action
               class="pt.uminho.di.reolangeditor.reconfigurations.editors.options.RecLangRun"
               icon="icons/sample.gif"
               id="reolangeditor.reconfigurations.editors.options.RecLangRun"
               label="Run reconfigurations"
               menubarPath="recoopla_options/recoopla_run"
               toolbarPath="recoopla_run"
               tooltip="Run reconfigurations">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
         <factory
            adaptableType="pt.uminho.di.reolangeditor.reconfigurations.editors.adapter.model.DataModel"
            class="pt.uminho.di.reolangeditor.reconfigurations.editors.adapter.DataModelAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
