<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CooPLa Editor"
            extensions="cpla"
            icon="icons/coopla.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="pt.uminho.di.cooplaeditor.editors.CooPLaEditor"
            id="pt.uminho.di.cooplaeditor.editors.CooPLaEditor">
      </editor>
      <editor
            class="pt.uminho.di.cooplaeditor.reconfigurations.editors.ReCooPLaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="rcpla"
            icon="icons/recoopla.gif"
            id="pt.uminho.di.cooplaeditor.ReCooPLaEditor"
            name="ReCooPLa Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="category.cooplaeditor"
            class="pt.uminho.di.cooplaeditor.wizards.NewCooPLaFileWizard"
            icon="icons/coopla.gif"
            id="pt.uminho.di.cooplaeditor.wizards.CooPLaFileWizard"
            name="CooPLa File">
      </wizard>
      <wizard
            category="category.cooplaeditor"
            class="pt.uminho.di.cooplaeditor.wizards.NewReCooPLaFileWizard"
            icon="icons/recoopla.gif"
            id="pt.uminho.di.cooplaeditor.wizards.NewReCooPLaFileWizard"
            name="ReCooPLa File">
      </wizard>
      <category
            id="category.cooplaeditor"
            name="CooPLa Editor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="pt.uminho.di.cooplaeditor.annotations.error"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            name="pt.uminho.di.cooplaeditor.annotations.warning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="category.cooplaeditor"
            name="CooPLa Editor">
      </category>
      <view
            category="category.cooplaeditor"
            class="pt.uminho.di.cooplaeditor.views.CooPLaPatternView"
            icon="icons/pattern_view.gif"
            id="cooplaeditor.views.CooPLaPatternView"
            name="Pattern View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="cooplaeditor.views.CooPLaPatternView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pt.uminho.di.cooplaeditor.handlers.IMCREOToolWizardHandler"
            id="cooplaeditor.commands.imcreoCommand"
            name="Generate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="cooplaeditor.menus.toolbar.IMCREOTool">
            <command
                  commandId="cooplaeditor.commands.imcreoCommand"
                  disabledIcon="icons/imcreo_disabled.gif"
                  hoverIcon="icons/imcreo_hover.gif"
                  icon="icons/imcreo.gif"
                  label="IMCREOTool"
                  style="push"
                  tooltip="IMCREOTool">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pt.uminho.di.cooplaeditor.preferences.CooPLaEditorPreferences"
            id="cooplaeditor.preferences.CooPLaEditorPreferences"
            name="CooPLa Editor">
      </page>
      <page
            category="cooplaeditor.preferences.CooPLaEditorPreferences"
            class="pt.uminho.di.cooplaeditor.preferences.IMCREOToolPreferences"
            id="cooplaeditor.preferences.IMCREOToolPreferences"
            name="IMCReo Tool">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pt.uminho.di.cooplaeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
