<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CooPLa Editor"
            extensions="cpla"
            icon="icons/coopla.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="pt.uminho.di.cooplaeditor.editors.CooPLaEditor"
            id="pt.uminho.di.cooplaeditor.editors.CooPLaEditor">
      </editor>
      <editor
            class="pt.uminho.di.cooplaeditor.reconfigurations.editors.ReCooPLaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="rcpla"
            icon="icons/recoopla.gif"
            id="pt.uminho.di.cooplaeditor.ReCooPLaEditor"
            name="ReCooPLa Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="category.cooplaeditor"
            class="pt.uminho.di.cooplaeditor.wizards.NewCooPLaFileWizard"
            finalPerspective="cooplaeditor.CooPLaPerspective"
            icon="icons/coopla.gif"
            id="pt.uminho.di.cooplaeditor.wizards.NewCooPLaFileWizard"
            name="CooPLa File"
            preferredPerspectives="cooplaeditor.CooPLaPerspective">
      </wizard>
      <wizard
            category="category.cooplaeditor"
            class="pt.uminho.di.cooplaeditor.wizards.NewReCooPLaFileWizard"
            finalPerspective="cooplaeditor.CooPLaPerspective"
            icon="icons/recoopla.gif"
            id="pt.uminho.di.cooplaeditor.wizards.NewReCooPLaFileWizard"
            name="ReCooPLa File"
            preferredPerspectives="cooplaeditor.CooPLaPerspective">
      </wizard>
      <category
            id="category.cooplaeditor"
            name="CooPLa Editor">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="pt.uminho.di.cooplaeditor.annotations.error"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            name="pt.uminho.di.cooplaeditor.annotations.warning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="category.cooplaeditor"
            name="CooPLa Editor">
      </category>
      <view
            category="category.cooplaeditor"
            class="pt.uminho.di.cooplaeditor.views.CooPLaPatternView"
            icon="icons/pattern_view.gif"
            id="cooplaeditor.views.CooPLaPatternView"
            name="Pattern View">
      </view>
      <view
            category="category.cooplaeditor"
            class="pt.uminho.di.cooplaeditor.reconfigurations.views.ReCooPLaPatternsView"
            icon="icons/rec_pattern_view.gif"
            id="cooplaeditor.reconfigurations.views.ReCooPLaPatternsView"
            name="Patterns Created">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="cooplaeditor.CooPLaPerspective">
         <view
               id="cooplaeditor.views.CooPLaPatternView"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.AllMarkersView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="cooplaeditor.views.CooPLaPatternView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="cooplaeditor.views.CooPLaPatternView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="cooplaeditor.reconfigurations.views.ReCooPLaPatternsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="cooplaeditor.commands.imcreoCommand"
            name="Generate">
      </command>
      <command
            id="cooplaeditor.commands.rslCommand"
            name="RSLTranslatorCommand">
      </command>
      <command
            id="cooplaeditor.commands.reoCommand.export"
            name="ReoXMLExport">
      </command>
      <command
            id="cooplaeditor.commands.reoCommand.import"
            name="ReoXMLImport">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="cooplaeditor.menus.toolbar.IMCREOTool">
            <command
                  commandId="cooplaeditor.commands.imcreoCommand"
                  disabledIcon="icons/imcreo_disabled.gif"
                  hoverIcon="icons/imcreo_hover.gif"
                  icon="icons/imcreo.gif"
                  label="IMCREOTool"
                  style="push"
                  tooltip="IMCREOTool">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="CooPLa">
            <menu
                  label="Export...">
               <command
                     commandId="cooplaeditor.commands.rslCommand"
                     label="RSL for Vereofy "
                     style="push"
                     tooltip="Generate RSL for Vereofy">
               </command>
               <command
                     commandId="cooplaeditor.commands.reoCommand.export"
                     label="Reo File"
                     style="push"
                     tooltip="Generate Reo File">
               </command>
            </menu>
            <menu
                  label="Import...">
               <command
                     commandId="cooplaeditor.commands.reoCommand.import"
                     label="Reo File"
                     style="push"
                     tooltip="Generate Reo File">
               </command>
            </menu>
            <separator
                  name="cooplaeditor.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="cooplaeditor.commands.imcreoCommand"
                  disabledIcon="icons/imcreo_disabled.gif"
                  hoverIcon="icons/imcreo_hover.gif"
                  icon="icons/imcreo.gif"
                  label="IMCREOTool"
                  style="push"
                  tooltip="IMCREOTool">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="pt.uminho.di.cooplaeditor.preferences.CooPLaEditorPreferences"
            id="cooplaeditor.preferences.CooPLaEditorPreferences"
            name="CooPLa Editor">
      </page>
      <page
            category="cooplaeditor.preferences.CooPLaEditorPreferences"
            class="pt.uminho.di.cooplaeditor.preferences.IMCREOToolPreferences"
            id="cooplaeditor.preferences.IMCREOToolPreferences"
            name="IMCReo Tool">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pt.uminho.di.cooplaeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="cooplaeditor.recoopla.actions"
            label="Run reconfigurations"
            visible="true">
         <menu
               id="cooplaeditor.recoopla.options"
               label="ReCooPLa">
            <separator
                  name="recoopla.run">
            </separator>
         </menu>
         <action
               class="pt.uminho.di.cooplaeditor.reconfigurations.editors.options.ReCooPLaRun"
               icon="icons/reconfig.gif"
               id="cooplaeditor.recoopla.actions.ReCooPLaRun"
               label="Run reconfigurations"
               menubarPath="cooplaeditor.recoopla.options/recoopla.run"
               toolbarPath="recoopla.run"
               tooltip="Run reconfigurations">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
         <factory
            adaptableType="pt.uminho.di.reolangeditor.reconfigurations.editors.adapter.model.DataModel"
            class="pt.uminho.di.reolangeditor.reconfigurations.editors.adapter.DataModelAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pt.uminho.di.cooplaeditor.perspectives.CooPLaPerspectiveFactory"
            id="cooplaeditor.CooPLaPerspective"
            name="CooPLa">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="pt.uminho.di.cooplaeditor.handlers.IMCREOToolWizardHandler"
            commandId="cooplaeditor.commands.imcreoCommand">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="pt.uminho.di.cooplaeditor.editors.CooPLaEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="pt.uminho.di.cooplaeditor.handlers.RSLTranslatorHandler"
            commandId="cooplaeditor.commands.rslCommand">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="pt.uminho.di.cooplaeditor.editors.CooPLaEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="pt.uminho.di.cooplaeditor.handlers.ReoExporterHandler"
            commandId="cooplaeditor.commands.reoCommand.export">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="pt.uminho.di.cooplaeditor.editors.CooPLaEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="pt.uminho.di.cooplaeditor.handlers.ReoImporterHandler"
            commandId="cooplaeditor.commands.reoCommand.import">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="pt.uminho.di.cooplaeditor.editors.CooPLaEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
